.input-field{
    font-family: ui-serif;
    padding-top: 2%;
}
.button-field{
    text-align: center;
    margin-top: 5%;
    font-family: math;
}
.sub-butn{
        margin-right: 6%;
}
.table-Field{
    margin-top: 8%;
    margin-left: 1%;
    margin-right: 1%;
}